body {
    margin: 0;
    padding: 0;

}



.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
    display: flex;
    align-items: center;
}

.nav li {
    display: flex;
    color: #000;
}

.nav li.logo {
    margin-right: auto;
    padding-left: 30px;
    font-weight: bolder;
    font-size: large;
}

.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #ffffff;
    color: crimson;
    transform: scale(1.1);


}

.nav li a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    box-shadow: inset;
}

.nav li a.active:hover {
    color: rgb(29, 39, 236);
    transform: scale(1.1);
}

.nav li a.uni {
    font-weight: bold;
    font-size: 1.2em;
}

.bi {
    font-size: 1.5em;
    color: white;
    margin-right: 8px;
}


.functions {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;



}

.functions button {
    width: 200px;
    height: 70px;
}

.functions button a {
    color: aliceblue;
    text-decoration: none;
}



footer {
    background-color: #000;
    color: rgb(255, 255, 255);
    height: 70px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 20px;
}

footer ul li {
    float: right;
    padding: 10px;
}

footer ul .rights {
    float: left;
}

.main {
    margin: 5px;
    background-color: rgb(118, 180, 255);
    height: 600px;
    padding-left: 100px;
    padding-top: 180px;

}

.main h1 {
    color: rgb(0, 0, 0);

}

#boxtype {
    margin: 40px auto;
    width: 85%;
    background-color: #f8f6f6ee;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(128, 124, 124);
}

.form-signin{
    width: 300px;
    margin-left: 450px;
    padding-top: 30px;
    align-content: center;
    
}

#card {
    display: flex;
}

.login-container {
    align-self:center;
    padding-left: 100px;
    margin: 10px;
     margin: 40px auto;
    width: 85%;
    background-color: #ffffffee;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(128, 124, 124);
    
}


